<footer class="rodape">
    <p class="text-rod">© 2025 Salão de Beleza. Todos os direitos reservados.</p>
    <div class="box-redes">
        <div class="iconesRedes">
            <a href="#"><img src="/imgs/ICONE INSTAGRAM.png" alt="Instagram" class="icone"></a>
            <a href="#"><img src="/imgs/ICONE WHATSAPP.png" alt="WhatsApp" class="icone"></a>
            <a href="#"><img src="/imgs/ICONE FACEBOOK.png" alt="Facebook" class="icone"></a>
        </div>
    </div>
</footer>
</body>
</html>
